body{
    margin: 0;
    padding: 0;
    font: normal 15pt Arial;
    background-color: rgb(111, 111, 245);
}
header{
    color: #fff;
    text-align: center;
}
section{
    margin: auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    background-color: #fff;
    padding: 15px;
}
footer{
    text-align: center;
    font-style: italic;
    color: #fff;
}